
.idea/ai.ML.iml
.idea/encodings.xml
.idea/libraries/R_User_Library.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/model.cpython-37.pyc
__pycache__/run.cpython-37.pyc
aiml_dash/__pycache__/app.cpython-37.pyc
aiml_dash/__pycache__/build_parameters.cpython-37.pyc
aiml_dash/__pycache__/callbacks.cpython-37.pyc
aiml_dash/__pycache__/layouts.cpython-37.pyc
aiml_dash/__pycache__/utils.cpython-37.pyc
dataset/__pycache__/dataset.cpython-37.pyc
dataset/__pycache__/dataset.cpython-37.pyc
dataset/__pycache__/dataset.cpython-37.pyc
dataset/__pycache__/dataset.cpython-37.pyc
dataset/__pycache__/dataset.cpython-37.pyc
dataset/__pycache__/dataset.cpython-37.pyc
*.pyc
