<!-- Main page allowing the user to upload their own dataset, continue a previous session, or use a preexisting dataset -->

<!DOCTYPE html>
<html>
    <head>
        <title>ai/ML</title>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link href="https://bootswatch.com/4/journal/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>


            <!-- Style settings -->
            <style>
                .font_control
                {
                    background-color:#FFF;
                    padding:60px;
                    text-align: center;
                    margin: auto;
                    font-size: 100px;

                }
    
                .control
                {
                    color:#000;
                    margin:10px;
                    font-size: 50px;
                }
            </style>
    </head>
    <body>
                <!-- Creates the navigation bar, and references to respective pages -->
                <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(36, 138, 104);">
                        <a class="navbar-brand" href="/main">ai.ML</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
            
                        <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="profile">My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                        <a style='font-size:24px' class='fab' href="https://github.com/Hesiod-Labs/ai.ML">&#xf09b;</a>
                </nav>
                <div class="font_control">
                    <h5>
                      <div class="control">Welcome!</div>
                    </h5>
                   
                    <h6>
                    <a img src = "Upload New Dataset.png" width = "440px"/> </a>
                    <a img src = "Continue Last Session.png"width = "430px" /></a>
                    <a img src = "Explore.png"width = "440px"/></a>

                </h6>
                    
                    <div class="btn-group" style="width:100%">
                            <a class="btn btn-secondary" style="width:33.3%">Upload Dataset [DEMO 2]</a>
                            <a class="btn btn-secondary" href="build" style="width:33.3%">Continue Last Session</a>
                            <a class="btn btn-secondary" href="exploredatasets" style="width:33.3%">Explore Datasets</a>
                    </div>
                </div>
    </body>
</html>
