<!-- Page for viewing your profile, and links to pages that change account information-->

<!DOCTYPE html>
<html>
    <head>
        <title>My Profile</title>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link href="https://bootswatch.com/4/journal/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel='stylesheet' href='https://codepen.io/chriddyp/pen/bWLwgP.css'>
        <!-- Style settings -->
        <style>
            .font_control
            {
                background-color:#FFF;
                padding:20px;
                text-align: center;
                margin: auto;
                font-size: 20px;
            }

            .control
            {
                color:#000;
                margin:10px;
                font-size: 50px;
            }

            .button
            {
                width: 200px;
            }
        </style>
    </head>
    <body>

            <!-- Creates the navigation bar, and references to respective pages-->
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #33C3F0;">
                    <a class="navbar-brand" href="/main">ai.ML</a>
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                                <a class="nav-link" href="profile">My Profile</a>
                                <a class="nav-link" href="logout">Logout</a>
                        </ul>
                    </div>
            </nav>

            <!-- Displays current account settings -->
            <div class="w-50 font_control">
                <h5>
                    <div class="control">My Account Details</div>
                </h5>
                <div class="label">Email: </div>
                <p>{{ profile.email }}</p>
                <div class="label">Username: </div>
                <p>{{ profile.username }}</p>
            <div>
                <!-- Links to pages that change the account settings -->
                <h5>
                    <div class="control">Settings</div>
                </h5>

                <div class="font_control">
                    <a class="button" href="updateemail" role="button">Change Email</a>
                </div>

                <div class="font_control">
                    <a class="button" href="updateusername" role="button">Change Username</a>
                </div>

                <div class="font_control">
                    <a class="button" href="updatepassword" role="button">Change Password</a>
                </div>

                <div class="font_control">
                    <a class="button" href="deleteaccount" role="button">Delete Account</a>
                </div>
            </div>
            </div>
    </body>
</html>
